@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'geakosa-regular';
  src: url(./fonts/geakosa-regular.ttf);
}

@font-face {
  font-family: 'Autography';
  src: url(./fonts/Autography.otf);
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffaa00;
  border-radius: 5px;
}